USE [master]
GO
/****** Object:  Database [Movie_IMDB]    Script Date: 23-05-2019 13:46:37 ******/
CREATE DATABASE [Movie_IMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movie_IMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Movie_IMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movie_IMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Movie_IMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movie_IMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movie_IMDB]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 23-05-2019 13:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Name] [varchar](10) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sex] [nchar](6) NOT NULL,
	[DOB] [date] NULL,
	[Bio] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Actors]    Script Date: 23-05-2019 13:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Actors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Actor_Id] [int] NOT NULL,
	[Movie_Id] [int] NOT NULL,
 CONSTRAINT [PK_Movie_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 23-05-2019 13:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Name] [nchar](10) NOT NULL,
	[Plot] [varchar](50) NOT NULL,
	[Poster] [image] NULL,
	[Release Year] [int] NOT NULL,
	[Producer_Id] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 23-05-2019 13:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Bio] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Producers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie_Actors]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Actors_Actors] FOREIGN KEY([Actor_Id])
REFERENCES [dbo].[Actors] ([Id])
GO
ALTER TABLE [dbo].[Movie_Actors] CHECK CONSTRAINT [FK_Movie_Actors_Actors]
GO
ALTER TABLE [dbo].[Movie_Actors]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Actors_Movie] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Movie_Actors] CHECK CONSTRAINT [FK_Movie_Actors_Movie]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Movies] FOREIGN KEY([Producer_Id])
REFERENCES [dbo].[Producers] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_Movies]
GO
USE [master]
GO
